<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <%- include('partials/header') %>
    <h1>Welcome to MyApp</h1>
    <p><a href="/auth/signup">Sign Up</a> or <a href="/auth/login">Login</a></p>
    <p><a href="/users/profile">profile</a>or <a href="/users/logout">Logout</a></p>
    <p><a href="/auth/sendVerifymail">Email Verify</a></p>
    <p><a href="/payment/create-payment-intent">Payment</a></p>
  <%- include('partials/footer') %>
</body>
</html>