<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Profile</h1>
  <form action="/users/profile" method="post">
    <input type="text" name="name" value="<%= user.name %>" >
    <input type="email" name="email" value="<%= user.email %>">
    <button type="submit">Update Profile</button>
  </form>
  <%- include('partials/footer') %>
</body>
</html>
